#TELEGRAM_BOT_TOKEN=TOKEN
#GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/
#GEMINI_API_KEY=

# POSTGRES_DB=database
# POSTGRES_USER=user
# POSTGRES_PASSWORD=password
# POSTGRES_PORT=port


# replace fields with the real credentials to build db connection url
# DATABASE_URL=postgres://{POSTGRES_USER}:{POSTGRES_PASSWORD}%40@postgresql:{POSTGRES_PORT}/{POSTGRES_DB}?sslmode=disable